<script src="/static/js/facilities.js"></script>
<script src="/static/vendor/tinymce/tinymce.min.js"></script>
<a href="/admin/facilities" class="nav-link text-decoration-none text-dark fs-4 ms-4">
    <img src="/static/img/left-arrow.png" class="me-2" height="20px" width="20px">Add Facility</a>
<div class="container-fluid ms-3 mt-3">
        <div class="col-md-6">
            <label for="facility_name" class="col-form-label">Facility Name</label>
            <input type="text" class="form-control" id="facility_name" placeholder="Enter facility name">
        </div>
        <div class="mt-3 col-md-6">
            <label for="facilities_image" class="col-form-label">Upload Image</label>
            <div class="border upload-box ">
                <div class="raleway-regular upload-imgbox img" id="facilites_image_preview"
                    style=" justify-content:center;">
                </div>
                <div> <input type="file" class="form-control" id="facilities_image">
                    <div class="text-center">
                        <label for="facilities_image" class="col-form-label cursor-pointer"
                            style=" justify-content:center;">
                            <img src="/static/img/upload.jpg" class="d-block mx-auto" height="50px" width="50px"><b>Click To Upload Image</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 col-md-6">
            <label for="facilities_description" class="col-form-label">Description</label>
            <textarea class="tinymce" id="facilities_description" rows="10"></textarea>
        </div>
        <div class="mt-3 col-md-6">
            <label for="location" class="col-form-label">Location</label>
            <input type="text" class="form-control" id="location" placeholder="Enter location">
        </div>
        <div class="mt-3 col-md-6">
            <label for="capacity" class="col-form-label">Capacity</label>
            <input type="text" class="form-control" id="capacity" placeholder="Enter capacity">
        </div>
    <div class=" w-50 d-flex justify-content-end mt-2  ">
        <button type="submit" id="add_facilities" data-id="<%=token.school_id; %>" class="btn btn_bg_color text-white submit-button">Submit</button>
        <button type="submit" class="btn btn-success text-white waiting-button d-none">Please Wait</button>
    </div>
</div>